# ซ่อนไฟล์ขยะที่เกิดจากการรัน Python
__pycache__/
*.py[cod]
*$py.class

# ซ่อนไฟล์ที่เกิดจากการคอมไพล์ (เช่นไฟล์ในรูปที่ 3)
*.c
*.pyd
*.so
build/
dist/

# ซ่อนโฟลเดอร์ไลบรารี
venv/
env/

# ซ่อนไฟล์ระบบ
.DS_Store
Thumbs.db