# Python bytecode (ไฟล์ขยะที่เกิดตอนรัน Python)
__pycache__
.py[cod]
$py.class

# Virtual Environment (โฟลเดอร์เก็บไลบรารีในเครื่องเรา ไม่ต้องเอาขึ้น)
venv
env
.env

# ไฟล์เฉพาะของระบบ (พวกไอคอนโฟลเดอร์)
.DS_Store
Thumbs.db

# ไฟล์ Engine ที่เราไม่อยากแจก (สมมติคุณมีไฟล์ชื่อนี้)
engine_core.pyd